<form>
    <div class="form-group">
        <label for="title">Title:</label>
        <input
            type="text"
            name="title"
            id="title"
            placeholder="Insert your moment title"
            required
        />
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea
            name="description"
            id="description"
            placeholder="Whats happen?"
            required
        ></textarea>
    </div>

    <div class="form-group">
        <label for="image">Select Image:</label>
        <input type="file" id="image" />
    </div>
    <button type="submit">{{ btnText }}</button>
</form>
