* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #444;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

    a {
        text-decoration: none;
        color: #444;
        transition: 0.4s;

        &:hover {
            color: #dec129;
        }
    }
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

main.container {
    min-height: 65vh;
}
